.mainOffers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-top: 3vh;
  margin: 10px;
  & > * {
    width: 100%;
    max-width: 600px;
  }
  .linePendingClaim {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 1px solid white;
      padding: 10px;
      white-space: nowrap;
      &.selected {
        background-color: #ffffff20;
      }
    }
  }
}
