.App {
    // font-size: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    h1 {
        font-size: 80px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 850px) {
    .App {
        h1 {
            font-size: 52px;
        }
    }
}