.interfaceBridge {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 60px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  max-width: 600px;
  width: 100%;
  margin: auto;
  position: relative;

  .backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: fit-content;
  }

  .lineTokens {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    .tokenSource,
    .tokenDest {
      flex: 1;
      padding: 14px;
      border: 1px solid #ccc;
      cursor: pointer;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      .divImg {
        position: relative;
        height: 100%;
        img {
          width: auto;
          height: 100%;
        }
        .blockchainDiv {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 16px;
          height: 16px;
          box-sizing: border-box;
          transform: translate(40%, 40%);
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
      span {
        font-size: 20px;
        font-weight: 800;
      }
    }
  }

  .lineInputSource,
  .lineInputDest {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
    height: 80px;

    .divImg {
      position: relative;
      height: 100%;
      img {
        width: auto;
        height: 100%;
      }
      .blockchainDiv {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        transform: translate(40%, 40%);
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
    input {
      border: none;
      width: 100%;
      background-color: inherit;
      font-size: 24px;
    }
  }
  .rangeDiv {
    width: 100%;
    .firstLineRange {
      display: flex;
      justify-content: space-between;
    }
    input {
      width: 100%;
    }
  }

  .bridgeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    width: 100%;
    margin-top: 30px;
    border: none;
    background-color: #ffffff20;
    color: white;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }
}
